<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
  <parameter name="username" value="nvn@123"></parameter>
  <parameter name="password" value="23536"></parameter>
  <classes>
  
  <class name="com.runner.ParameterTest"></class>
 <!-- <class name="com.runner.SimpleAnnotations"/> -->
  </classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
